In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("Social_Network_Ads.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
dataset = dataset.drop("User ID",axis=1)

In [4]:
dataset = pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [6]:
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [7]:
Indep = dataset [['Age', 'EstimatedSalary', 'Gender_Male']]
dep = dataset [['Purchased']]

In [15]:
#from sklearn.model_selection import train_test_split
#x_train,x_test,y_train,y_test= train_test_split(Indep,dep,test_size=0.30,random_state=0)
#print(x_train.shape),print(x_test.shape),print(y_train.shape),print(y_test.shape)

In [17]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier

grid_params = {'criterion':['entropy','gini', 'entropy', 'log_loss'],
               'splitter':['best', 'random'],'max_features': ['auto', 'sqrt', 'log2']}

grid = GridSearchCV(DecisionTreeClassifier(),grid_params,refit=True,verbose=3,n_jobs=-1)

grid.fit(x_train,y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
30 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 681, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 942, in fit
    X_idx_sorted=X_idx_sorted,
  File "C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 352, in fit
    criterion = CRITERIA_CLF[self.criterion](
KeyError: 'log_loss'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.82857143 0.79642857 0.83214286 0.825      0.85357143 0.81428571
 0.83571429 0.80357143 0.81785714 0.85       0.83571429 0.83928571
 0.85357143 0.82142857 0.81785714 0.81071429 0.84642857 0.82857143
        nan        nan        nan        nan        nan        nan]
  category=UserWarning,

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['entropy', 'gini', 'entropy',
                                       'log_loss'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [18]:
y_pred = DT.predict(x_test)

In [19]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm

array([[71,  8],
       [ 6, 35]], dtype=int64)

In [22]:
result = grid.cv_results_
print("Best performaning param :",grid.best_params_,grid.best_score_)

Best performaning param : {'criterion': 'entropy', 'max_features': 'log2', 'splitter': 'best'} 0.8535714285714286

In [26]:
table = pd.DataFrame.from_dict(result)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.007811,0.000566,0.003755,0.000520,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",0.803571,0.767857,0.803571,0.928571,0.839286,0.828571,0.054865,9
1,0.012548,0.002630,0.005800,0.001923,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",0.785714,0.875000,0.714286,0.803571,0.803571,0.796429,0.051260,18
2,0.010576,0.000769,0.003384,0.001072,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.839286,0.839286,0.785714,0.839286,0.857143,0.832143,0.024223,8
3,0.005573,0.003213,0.000592,0.001185,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.857143,0.857143,0.750000,0.839286,0.821429,0.825000,0.039770,11
4,0.009165,0.007483,0.000000,0.000000,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.839286,0.803571,0.821429,0.910714,0.892857,0.853571,0.041342,1
5,0.005206,0.006377,0.003200,0.006401,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.839286,0.821429,0.821429,0.767857,0.821429,0.814286,0.024223,15
6,0.009812,0.008021,0.000423,0.000518,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",0.875000,0.785714,0.803571,0.821429,0.892857,0.835714,0.041342,6
7,0.005409,0.005049,0.002202,0.004404,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",0.821429,0.767857,0.839286,0.803571,0.785714,0.803571,0.025254,17
8,0.006335,0.007759,0.000000,0.000000,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.839286,0.803571,0.767857,0.803571,0.875000,0.817857,0.036422,13
9,0.004823,0.002559,0.003620,0.002996,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.857143,0.821429,0.839286,0.803571,0.928571,0.850000,0.043154,3
10,0.003687,0.003416,0.001350,0.002165,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.821429,0.821429,0.803571,0.875000,0.857143,0.835714,0.026245,7
11,0.003835,0.005633,0.005802,0.007106,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.839286,0.857143,0.821429,0.821429,0.857143,0.839286,0.015972,5
12,0.005802,0.007106,0.002901,0.005802,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",0.892857,0.839286,0.785714,0.857143,0.892857,0.853571,0.039770,1
13,0.009972,0.008150,0.000205,0.000410,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",0.785714,0.875000,0.857143,0.785714,0.803571,0.821429,0.037457,12
14,0.011556,0.004413,0.000000,0.000000,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.839286,0.803571,0.803571,0.821429,0.821429,0.817857,0.013363,14
15,0.003464,0.004361,0.002515,0.003119,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.821429,0.821429,0.803571,0.857143,0.750000,0.810714,0.034993,16
16,0.006314,0.005437,0.001805,0.003611,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.857143,0.785714,0.803571,0.875000,0.910714,0.846429,0.046015,4
17,0.002246,0.002762,0.001102,0.002204,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.875000,0.857143,0.803571,0.785714,0.821429,0.828571,0.033120,10
18,0.002802,0.003669,0.000000,0.000000,log_loss,auto,best,"{'criterion': 'log_loss', 'max_features': 'aut...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
19,0.004518,0.005234,0.000000,0.000000,log_loss,auto,random,"{'criterion': 'log_loss', 'max_features': 'aut...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,21
20,0.006755,0.005496,0.000000,0.000000,log_loss,sqrt,best,"{'criterion': 'log_loss', 'max_features': 'sqr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
21,0.003219,0.003660,0.000000,0.000000,log_loss,sqrt,random,"{'criterion': 'log_loss', 'max_features': 'sqr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,23
22,0.005296,0.003143,0.000000,0.000000,log_loss,log2,best,"{'criterion': 'log_loss', 'max_features': 'log...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
23,0.003364,0.005253,0.000000,0.000000,log_loss,log2,random,"{'criterion': 'log_loss', 'max_features': 'log...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,24

In [27]:
from sklearn.metrics import classification_report
report = classification_report(y_test,y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.92      0.90      0.91        79
           1       0.81      0.85      0.83        41

    accuracy                           0.88       120
   macro avg       0.87      0.88      0.87       120
weighted avg       0.89      0.88      0.88       120

In [28]:
result = DT.predict([[49,36000,0]])
result

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([1], dtype=int64)

In [14]:
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]